@media (max-width: 1500px) {
  header .container {
    max-width: 1300px !important;
  }
  main .container {
    max-width: 1300px !important;

    .section-four .projects {
      height: 570px !important;
    }
  }
  footer .container {
    max-width: 1300px !important;
  }
}

@media (max-width: 1400px) {
  header .container {
    max-width: 1200px !important;
  }
  main .container {
    max-width: 1200px !important;

    .section-four {
      .portfolio {
        font-size: 48px;
      }
      .projects {
        height: 520px !important;
      }
    }
  }
  footer .container {
    max-width: 1200px !important;
  }
}

@media (max-width: 1300px) {
  header .container {
    max-width: 1100px !important;
  }
  main .container {
    max-width: 1100px !important;

    .section-one {
      padding-top: 200px !important;
      .title {
        h1 {
          font-size: 72px;
          line-height: 77px;
        }
        div {
          gap: 20px;
          .toContact {
            width: 180px;
            height: 61.2px;

            span {
              line-height: 61.2px !important;
            }
          }
          p {
            font-size: 24px;
          }
        }
      }
      .image {
        width: 500px !important;
        height: 390px !important;
      }
    }
    .section-two {
      .about h1 {
        font-size: 40px;
        line-height: 50px;
      }
    }
    .section-four {
      .portfolio {
        font-size: 44px;
      }
      .all-project {
        font-size: 20px;
      }
      .projects {
        height: 470px !important;
      }
    }
  }
  footer .container {
    max-width: 1100px !important;

    .LetsWork {
      font-size: 38px;
    }
  }
}

@media (max-width: 1200px) {
  header .container {
    max-width: 1000px !important;
  }
  main .container {
    max-width: 1000px !important;

    .section-one {
      padding-top: 175px !important;
      .title {
        h1 {
          font-size: 64px;
          line-height: 64px;
        }
        div {
          gap: 18px;
          .toContact {
            width: 151px;
            height: 51px;

            span {
              font-size: 20px;
              line-height: 51px !important;
            }
          }
          p {
            font-size: 22px;
          }
        }
      }
      .image {
        width: 470px !important;
        height: 366px !important;
      }
    }
    .section-two {
      .about {
        h1 {
          font-size: 36px;
          line-height: 44px;
        }
        h2 {
          font-size: 20px;
          line-height: 30px;
        }
      }
      .skills {
        transform: scale(0.94);
      }
    }
    .section-three {
      margin-bottom: 120px !important;
      .education,
      .experience {
        .edu,
        .exp {
          .edu-title,
          .exp-title {
            h1 {
              font-size: 19px;
            }
            h2 {
              font-size: 17px;
            }
            h3 {
              font-size: 15px;
            }
          }
        }
      }
    }
    .section-four {
      .portfolio {
        font-size: 44px;
      }
      .all-project {
        font-size: 20px;
      }
      .projects {
        height: 420px !important;
      }
    }
  }
  footer .container {
    max-width: 1000px !important;

    .LetsWork {
      top: -140px;
      font-size: 34px;
    }
  }
}

@media (max-width: 1100px) {
  header .container {
    max-width: 900px !important;
  }
  main .container {
    max-width: 900px !important;

    .section-one {
      padding-top: 150px !important;

      .title {
        gap: 40px;
        h1 {
          font-size: 58px;
          line-height: 58px;
        }

        div {
          gap: 15px;

          .toContact {
            width: 120px;
            height: 40px;

            span {
              font-size: 17px;
              line-height: 40px !important;
            }
          }

          p {
            font-size: 21px;
          }
        }
      }
      .image {
        width: 430px !important;
        height: 330px !important;
      }
    }
    .section-two {
      position: relative;
      .about {
        h1 {
          font-size: 32px;
          line-height: 40px;
        }
        h2 {
          font-size: 18px;
          line-height: 28px;
        }
      }
      .skills {
        transform: scale(0.8);
        position: absolute;
        right: -10px;
      }
    }
    .section-three {
      margin-bottom: 80px !important;

      .education,
      .experience {
        .edu,
        .exp {
          height: 70px;
          .edu-title,
          .exp-title {
            h1 {
              font-size: 16px;
            }
            h2 {
              font-size: 14px;
            }
            h3 {
              font-size: 12px;
            }
          }
        }
      }
    }
    .section-four {
      margin-bottom: 300px !important;
      .portfolio {
        font-size: 38px;
        line-height: 50px;

        img {
          height: 50px;
        }
      }
      .all-project {
        font-size: 20px;
      }
      .projects {
        height: 370px !important;
      }
    }
  }
  footer .container {
    max-width: 900px !important;

    .LetsWork {
      top: -140px;
      font-size: 34px;
    }
  }
}

@media (max-width: 1000px) {
  header .container {
    max-width: 800px !important;
  }
  main .container {
    max-width: 800px !important;

    .section-one {
      padding-top: 145px !important;

      .title {
        gap: 40px;
        h1 {
          font-size: 52px;
          line-height: 54px;
        }

        div {
          gap: 10px;

          .toContact {
            width: 110px;
            height: 35px;

            span {
              font-size: 15px;
              line-height: 35px !important;
            }
          }

          p {
            font-size: 19px;
          }
        }
      }
      .image {
        width: 390px !important;
        height: 300px !important;
      }
    }
    .section-two {
      position: relative;
      .about {
        h1 {
          font-size: 28px;
          line-height: 36px;
        }
        h2 {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .skills {
        transform: scale(0.7);
        position: absolute;
        right: -35px;
      }
    }
    .section-three {
      margin-bottom: 80px !important;

      .education,
      .experience {
        .edu,
        .exp {
          height: 60px;
          .edu-title,
          .exp-title {
            h1 {
              font-size: 15px;
            }
            h2 {
              font-size: 13px;
            }
            h3 {
              font-size: 11px;
            }
          }
        }
      }
    }
    .section-four {
      margin-bottom: 300px !important;
      .portfolio {
        font-size: 34px;
        line-height: 50px;

        img {
          height: 50px;
        }
      }
      .all-project {
        font-size: 18px;
      }
      .projects {
        height: 323px !important;
      }
    }
  }
  footer .container {
    max-width: 800px !important;

    .LetsWork {
      top: -130px;
      font-size: 30px;
    }
  }
}

@media (max-width: 900px) {
  header .container {
    max-width: 700px !important;

    .list {
      gap: 20px !important;

      .listUl {
        display: none !important;
      }

      .menu {
        display: block !important;
      }
    }
  }

  main .container {
    max-width: 700px !important;

    .section-one {
      flex-direction: column;
      gap: 40px;

      .title {
        width: 100% !important;

        h1 {
          font-size: 90px !important;
          line-height: 100px;
          text-align: center;
        }
        div {
          justify-content: space-between;

          .toContact {
            width: 200px !important;
            height: 68px !important;

            span {
              font-size: 24px;
              line-height: 69px !important;
            }
          }

          p {
            font-size: 36px;
          }
        }
      }
      .image {
        width: 100% !important;
        height: 530px !important;
      }
    }

    .section-two {
      flex-direction: column;
      gap: 100px;

      .about {
        width: 100%;
        height: auto;

        p {
          font-size: 22px;
          text-align: center;
          padding-bottom: 10px;
        }

        h1 {
          font-size: 50px;
          line-height: 55px;
          text-align: center;
        }
        h2 {
          font-size: 36px;
          line-height: 40px;
          text-align: center;
        }
      }
      .skills {
        position: relative !important;
        width: 100% !important;
        height: 400px !important;
        right: 50%;
        transform: scale(1.2) translateX(13%);
      }
    }

    .section-three{
      flex-direction: column;
      gap: 40px;

      .education{
        width: 100%!important;

        p{
          text-align: center;
        }

        .edu{
          flex-direction: column;
          align-items: center;
          height: auto!important;

          img{
            height: 80px;
          }

          .edu-title {
            h1{
              text-align: center;
              font-size: 22px;
            }
            h2{
              text-align: center;
              font-size: 20px;
            }
            h3{
              text-align: center;
              font-size: 18px;
            }
          }
        }
      }

      .experience {
        width: 100%!important;

        p{
          text-align: center;
        }

        .exp{
          flex-direction: column;
          align-items: center;
          height: auto!important;

          img{
            height: 80px;
          }

          .exp-title {
            h1{
              text-align: center;
              font-size: 22px;
            }
            h2{
              text-align: center;
              font-size: 20px;
            }
            h3{
              text-align: center;
              font-size: 18px;
            }
          }
        }
      }
    }
  }

  footer .container {
    max-width: 700px !important;
    gap: 20px;

    .footer-top {
      padding: 20px 0 10px;
      .contacts {
        flex-direction: column;
        gap: 20px;
      }
    }

    .footer-bottom {
      flex-direction: column;
      gap: 20px;
      padding: 10px 0 20px;
    }
  }
}

@media (max-width: 800px) {
  header .container {
    max-width: 650px !important;
  }

  main .container {
    max-width: 650px !important;
  }

  footer .container {
    max-width: 650px !important;
  }
}

@media (max-width: 700px) {
  header .container {
    max-width: 600px !important;
  }

  main .container {
    max-width: 600px !important;
  }

  footer .container {
    max-width: 600px !important;
  }
}

@media (max-width: 600px) {
  header .container {
    max-width: 500px !important;
  }

  main .container {
    max-width: 500px !important;
  }

  footer .container {
    max-width: 500px !important;
  }
}

@media (max-width: 500px) {
  header .container {
    max-width: 400px !important;
  }

  main .container {
    max-width: 400px !important;
  }

  footer .container {
    max-width: 400px !important;
    gap: 15px !important;

    .footer-top {
      padding: 20px 0 10px;

      .contacts {
        flex-direction: column;
        gap: 20px;

        .calllock {
          flex-direction: column;
          gap: 20px !important;
          width: auto !important;
        }
      }
    }

    .footer-bottom {
      flex-direction: column;
      gap: 20px;
      padding: 10px 0 20px;

      .social {
        gap: 25px !important;

        div {
          flex-direction: column;
          gap: 20px !important;

          a {
            gap: 5px !important;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  header .container {
    max-width: 350px !important;
  }

  main .container {
    max-width: 350px !important;
  }

  footer .container {
    max-width: 350px !important;
  }
}

@media (max-width: 350px) {
  header .container {
    max-width: 300px !important;
  }

  main .container {
    max-width: 300px !important;
  }

  footer .container {
    max-width: 300px !important;
  }
}
